{% extends 'ProjectWebSiteBundle::layout.html.twig' %}

{% block mainContent %}
<h1>Contact Us</h1>

<p class="intro">
    Thank you for sending us a message. We will get back to you as soon as
    possible.
</p>
<p>
    <a href="{{ path('ProjectWebSiteBundle_homepage') }}" class="button">
        Back to Homepage.
    </a>
</p>
{% endblock %}