{% extends 'ProjectWebSiteBundle::layout.html.twig' %}

{% block mainContent %}
<hgroup>
    <h1>Project Web</h1>
    <h2>Weaving a Better Web</h2>
</hgroup>

<p class="intro">
    We’re a community of like-minded web builders who believe that the Filipino
    web can and should be built better.
</p>

<p>
    We host talks on better web building as well as thinking and creating things
    that can move the web forward for Filipinos.
</p>

<div class="mainContentEnd">
    <h2>How to reach us</h2>
    <p>
        Need our group to do a talk about the web in your school or area? Do
        you want to be part of our projects and initiatives?
    </p>
    <p>
        <a href="{{ path('ProjectWebSiteBundle_contact') }}" class="button">Contact Us</a>
    </p>
</div>
{% endblock %}